body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.list-control-sub {
  padding: 10px;
  background-color: aquamarine;
  display: inline-block;
}

.text {
  padding: 10px;
  background-color: beige;
  display: inline-block;
}

.date {
  padding: 10px;
  background-color: aliceblue;
  display: inline-block;
}